{% extends "ddmaniBlogBundle::layout.html.twig" %}

{% block body -%}
    <h1>Posts edit</h1>

    {{ form(edit_form,{'attr':{"id":"editform" }}) }}

    {{ form(delete_form,{'attr':{"id":"post-delete-form" }}) }}
    <script language="javascript">
        $(document).ready(function(){ 
            $("#editform").submit(function(){
                $.ajax({
                        url: $(this).attr('action'), 
                        type: $(this).attr('method'), 
                        data: $(this).serialize(), 
                        cache: false,
                        success : function(code_html, statut){ 
                            if ($("#postlist")){
                                RefreshPostList();
                            }
                        },

                        error : function(resultat, statut, erreur){
                            alert("erreur");
                        }
                 });
                 return false; // Bloquage soumission du formulaire   
             });
            $("#post-delete-form").submit(function(){
                $.ajax({
                        url: $(this).attr('action'), 
                        type: $(this).attr('method'), 
                        data: $(this).serialize(), 
                        cache: false,
                        success : function(code_html, statut){ 
                            if ($("#postlist")){
                                RefreshPostList();
                            }
                        },

                        error : function(resultat, statut, erreur){
                            alert("erreur");
                        }
                 });
                 return false; // Bloquage soumission du formulaire   
             });
             function RefreshPostList(){
                $.ajax({
                    url: '{{ path("post_admin") }}', 
                    type: 'GET', 
                    data: $(this).serialize(), 
                    cache: false,
                    success : function(code_html, statut){ 
                        $('#postlist').html(code_html);
                    },
                    error : function(resultat, statut, erreur){
                        alert("erreur");
                    }
                });
             }
        });

    </script>
{% endblock %}
