{% extends "ddmaniBlogBundle::layout.html.twig" %}

{% block body -%}
    <h1>Posts list frontoffice </h1>
    <div id="postlistcolumn">
        {% for entity in entities %}
            <div class="postcase">
                <h1><a href="{{ path('ddmani_blog_post', { 'id': entity.id }) }}">{{ entity.postTitle }}</a></h1>
                <div>Image</div>
                <div>{{ entity.postContent }}</div>
                <div>{{ entity.postContent }}</div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
