{% extends "ddmaniBlogBundle::layout.html.twig" %}

{% block body -%}
    <h1>Posts creation</h1>
    
    {{ form(form,{'attr':{"id":"addform" }}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
</ul>

<script language="javascript">
    $(document).ready(function(){ 
        $("#addform").submit(function(){
            $.ajax({
                    url: $(this).attr('action'), 
                    type: $(this).attr('method'), 
                    data: $(this).serialize(), 
                    cache: false,
                    success : function(code_html, statut){ 
                        if ($("#postlist")){
                                $.ajax({
                                    url: '{{ path("post") }}', 
                                    type: 'GET', 
                                    data: $(this).serialize(), 
                                    cache: false,
                                    success : function(code_html, statut){ 
                                        $('#postlist').html(code_html);
                                    },
                                    error : function(resultat, statut, erreur){
                                        alert("erreur");
                                    }
                                });
                            }
                    },

                    error : function(resultat, statut, erreur){
                        alert("erreur");
                    }
             });
             return false; // Bloquage soumission du formulaire   
         });

    });
   
</script>

{% endblock %}
