{% extends "ddmaniBlogBundle::layout.html.twig" %}
{% block blog %}
    Blog admin homepage
    {{test}}
    
    <div id="postlist">
    {{ render(controller('ddmaniBlogBundle:Posts:index',{'adminpage': 'admin'})) }}
    </div>
    <div id="actioncontent">
    
    </div>
<script language="javascript">
    $(document).ready(function(){ 
        $("body").on("click",".actionslink",function(){
            $.ajax({
                    url: $(this).attr('href'), 
                    type: 'GET', 
                    data: $(this).serialize(), 
                    cache: false,
                    success : function(code_html, statut){ 
                        $('#actioncontent').html(code_html);
                    },
                    error : function(resultat, statut, erreur){
                        alert("erreur");
                    }
             });
             return false; // Bloquage soumission du formulaire 
         });

    });
   
</script>
{% endblock blog %}