{% extends "ddmaniBlogBundle::layout.html.twig" %}
{% block blog %}
    <h1>Blog hompage</h1>

    <div id="postlist">
    {{ render(controller('ddmaniBlogBundle:Posts:index',{'adminpage': 'frontend'})) }}
    </div>
{% endblock blog %}